[submodule "2017-I/PMLabIoT"]
	path = 2017-I/PMLabIoT
	url = git@github.com:manzamb/PMLabIoT.git
[submodule "2017-I/HomeAAndroidIoT"]
	path = 2017-I/HomeAAndroidIoT
	url = git@github.com:manzamb/HomeAAndroidIoT.git
[submodule "2017-I/ChildLAugmentedReality-"]
	path = 2017-I/ChildLAugmentedReality-
	url = git@github.com:manzamb/ChildLAugmentedReality-.git
